.expenses-full-row {
    margin: 1rem 0;
  }
  
  .expenses-full-header {
    vertical-align: center;
    padding: 1em 0 0 0;
    font-weight: 600;
    color: #9B9BA0;
  }
  
  .expenses-full-view-all-div {
    display: flex;
    justify-content: flex-end;
  }

.expenses-full-div {
    max-height: 75vh;
    overflow: auto;
  }
  
  .expenses-full-icon-div {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expenses-full-icon {
    font-size: 2rem;
  }
  
  .expenses-full-info-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .expenses-full-title,
  .expenses-full-date {
    margin: 0;
    vertical-align: center;
  }
  
  .expenses-full-title {
    font-weight: 700;
  }
  
  .expenses-full-date {
    font-size: 0.8em;
    font-weight: 500;
    color: #9B9BA0;
  }
  
  .expenses-full-amount {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 800;
  }